<div id="search-form">
<form action="/artist-search" method="get">
    <label for="Search">
        <input type="text" name="searchText" size="45" placeholder="type artist to search here">
    </label>
    <button class="btn" type="submit">SEARCH</button>
</form>
</div>